- name: mediawiki-apb playbook to provision the application
  hosts: all
  gather_facts: False
  vars:
    apb_action: provision
  roles:
  - role: ansible.kubernetes-modules
  - role: mediawiki-apb
    
